.Controls {
  text-align: center;
  background: #666;
  .control {
    display: inline-block;
    padding: 10px;
    margin: 4px;
    background: transparent;
    color: white;
    font-size: 36px;
  }
}
