.Controls {
  text-align: center;
  background: #00010D;
  padding: 30px 0;

  .control {
    display: inline-block;
    background: transparent;
    color: lighten(#021740, 0);
    padding: 0 20px;
    font-size: 50px;
  }
}
